.Movie-card-link {
  @apply transition-all;
  @apply duration-300;
  @apply overflow-visible;
}

.Movie-card-link:hover {
  transform: scale(1.05);
}

.Movie-card-link:active {
  transform: scale(1);
}

.Movie-card {
  --card-width: 18rem;
  --card-height: 31rem;

  @apply bg-blue-400;
  @apply grid;
  @apply rounded-md;
  @apply duration-300;
  @apply cursor-pointer;
  width: var(--card-width);
  height: var(--card-height);
  grid-template-rows: 90% 10%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  padding: 0;
  overflow: visible;
}

.Movie-card:hover {
  @apply bg-blue-300;
}

.image-container {
  @apply rounded-t-md;
  width: var(--card-width);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
}

.bubble {
  @apply p-4;
  @apply relative;
  @apply flex;
  @apply rounded-full;
  @apply float-right;
  @apply text-lg;
  top: -1.1rem;
  right: -0.9rem;
}