.movie-detail-container {
  --header-size: 10vh;
  --footer-size: 12vh;
  --footer-padding: 2rem;

  @apply grid;
  grid-template-rows: var(--header-size) calc(100vh - var(--header-size));
}

.movie-detail-container * {
  @apply overflow-hidden;
}

.react-movie-button:active {
  transform: scale(.95);
}

.movie-info-container {
  background: url('../assets/img/ticket.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: calc(100% - var(--footer-size)) var(--footer-size);
}

.footer {
  @apply bg-gray-400;
  @apply flex;
  @apply flex-row;
  @apply items-center;
  @apply bg-opacity-90;
  @apply overflow-hidden;
  max-height: var(--footer-size);
  padding: var(--footer-padding)
}

.footer img {
  max-height: calc(var(--footer-size) - var(--footer-padding));
  width: auto;
}

.overview {
  @apply overflow-y-auto
}

@media screen and (max-width: 768px ) {
  .footer {
    @apply justify-center;
    @apply gap-4;
  }
  .footer img:nth-child(n+4) {
    display: none;
  }
}

@media screen and (max-width: 425px ) {
  .footer img:nth-child(n+3) {
    display: none;
  }
}

@media screen and (max-width: 375px ) {
  .footer img:nth-child(n+2) {
    display: none;
  }
}