* {
  overflow-x: hidden;
}

.root-container {
  min-width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  background: url('../assets/img/ticket.jpg');
  background-attachment: fixed;
  background-size: cover;
}
